.sjcWrapper {
    position: absolute;
}
.sjCarousel {
    left: 0px;
    position: absolute;
}
.sjItem {
    float: left;
}
.sjCarousel img {
    /*display: none;*/
}
.sjCarousel .visible {
    display: block;
}
#sjBack {
    cursor: pointer;
    clear: both;
    float: left;
}
#sjForward {
    cursor: pointer;
    /*position: absolute;
    left: 210px;*/
    float: left;
}
.sjActive {
    color: black;
}
.sjInactive {
    color: #bbb;
}