.sjcWrapper {
    position: absolute;
}
.sjCarousel {
    left: 0px;
    position: absolute;
}
.sjItem {
    float: left;
}
.sjItem img {
    border: 1px solid gray;
}
.sjCarousel .visible {
    display: block;
}
#sjBack {
    cursor: pointer;
    clear: both;
    float: left;
    margin: 10px;
}
#sjForward {
    cursor: pointer;
    float: left;
    margin: 10px;
}
.sjActive {
    color: black;
}
.sjInactive {
    color: #bbb;
}